*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.seccion-1{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.293), rgba(0, 0, 0, 0.293)), url('https://scontent-mad1-1.xx.fbcdn.net/v/t39.30808-6/417113311_122120136074097365_8243495034193751335_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=dd5e9f&_nc_ohc=G30vpoU7u6YAX_dAz_l&_nc_ht=scontent-mad1-1.xx&oh=00_AfAc8j44XvJaV4ngdg6PXD-fJWAnLUoLDNJpD_73XAZd9Q&oe=65A934CA');
    
}

.contenedor-externo{
    width: 396px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header img{
    width: 150px;
}

.header p{
    text-align: center;
    color: #ffffff;
}

#miFormulario{
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px;
    width: 100%;
    max-width: 95%;
    display: flex;
    flex-direction: column;
}

#usuario , #contrasena{
    height: 45px;
    width: 100%;
    background: #FFFFFF url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    font-size: 18px;
    line-height: 16px;
    padding: 0 8px;
    margin-bottom: 15px;
    border-radius: 7px;
}

.submit{
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 100%;
    color: white;
    font-weight: 600;
}

.p-1{
    color: #1877f2;
    text-align: center;
    margin-top: 20px;

}



.error-message{
    color: red;
    display: none;
    margin-top: 15px;
    font-size: 14px;
}